html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: helvetica, arial, sans;
}

p {
    line-height: 1.2em;
    margin-bottom: 0;
}

.main-container {
    margin: 0;
    padding: 2.8571428571%; /* (20/700) * 100 */
    height: 90%; /* 94.2857  */
}

.inside {
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    margin: -3px 0;
    width: 100%;
    height: 100%;
}

.content {
    margin: 0 auto;
    height: 100%;
}

.description-col, .gallery {
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    height: 95%;
}

.description-col {
    width: 19.5%; /* (187.2 / 960) * 100 */
    float: left;
    margin-right: 0.625%;
    overflow: scroll;
    position: relative;
    text-align: center;
}

.more-wrapping {
    min-height: 100%;
}

.description-content {
    padding-bottom: 50px;

    /* Fix to ensure margins don't collapse, and that
    this container actually contains it's children */
    padding-top: 1px;
    margin-top: -1px;
}

.gallery {
    width: 79.875%; /* 766.8px / 960px  - padding * 2 */
    background: url('../images/stripe.png');
    float: left;
    overflow: hidden;
    padding: 0;
    position:relative;
}

.gallery ul.slides {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery li {
    display: none;
    -webkit-backface-visibility: hidden;
    height: 100%;
}

.gallery img {
    max-height: 93%;
    max-width: 93%;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

/* Style non semantic wrapper element */
.slides li > div {
    text-align: center;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    width:100%;
}

/* Add horrendous pseudo element to allow vertical alignment */
/* Thanks http://css-tricks.com/centering-in-the-unknown/ ! */
.slides li div:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* Show first gallery item if no javascript */
.no-js .slides > li:first-child {
    display: block;
}

/* Clearfix */
.group:after, .slides:after, .gallery li:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

h1, .client, .type {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;
    width: 100%;

}

.type {
    line-height: 2.3em;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-bottom: 1px;
    margin-top: 0.3em;
}

.main-description {
    margin-top: 1em;
    text-align: left;
}

nav.links-wrapper {
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 26px;
    margin-top: -26px;
}

.links {
    color: #b1b1b1;
    display: inline-block;
    vertical-align: bottom;
}

.links a {
    color: #b1b1b1;
    text-decoration: none;
    display: inline-block
}

a.home {
    color: #c8c8c8;
}

a.home:hover {
    color: #b1b1b1;
}

h1 {
    margin-top: 0.6em;
}

.page-nav, .home {
    float: left;
    border-bottom: 1px solid #b1b1b1;
    padding-bottom: 5px;
}

.page-nav {
    margin-left: 2em;
}

.nav-btn {
    height: 11px;
    width: 6px;
    text-indent: -9999px;
    outline: none;
}

.page-nav .prev {
    background: url("../images/arrows.png") no-repeat scroll 0 0;
}

.page-nav .next {
    background: url("../images/arrows.png") no-repeat scroll -7px 0;
}

.slide-control {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    text-indent: -9999px;
    text-align: center;
    background: url("../images/prev-g.png")  no-repeat scroll 0 0;
}

.slide-control.next {
    left: auto;
    right: 20px;
    background: url("../images/next-g.png") no-repeat scroll 0 0;
}

/* Hide until used */
.slide-control {
    display:none;
}

/*************************
    Per Project Styling
*************************/

/* Various book covers */
section.book {
    display: none;
}
#yoga-series {
    display: block;
}

/* Collins Shorts */
#collins-shorts img.collins-shorts-logo {
    max-width: 68%;
}

/* One housing group */
#one-housing-group .slides li img {
    max-height: 68%;
}

/* London Gallery Trumps */
#london-gallery-trumps .slides li img.image1 {
    max-height: 60%;
}
#london-gallery-trumps .slides li img.image4 {
    max-height: 85%;
}

/* Bookshelf */
#bookshelf .slides li img.image1 {
    max-height: 45%;
}

/* Typechairs */
ol.typechairs {
    text-align: left;
    counter-reset:li;
    margin: 1em 0 0 0;
    padding: 0;
}

ol.typechairs li {
    list-style:none; /* Hide numbers in preparation for replacements */
    padding: 0px;
    position:relative;
    margin:0 0 0 1em;
    padding:4px 8px;
}

ol.typechairs li:before {
    content:counter(li)"/"; /* Replace default ol numbers with ones with a slash */
    counter-increment: li;
    position:absolute;
    top:0;
    left:-1em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:1em;
    margin-right:8px;
    padding:4px;
    text-align:left;
}


/* Mobiles */
@media all and (max-width: 767px) {
    .description-col {
        float: none;
        width: 100%;
    }

    .gallery {
        clear: both;
        float: none;
        width: 100%;
        margin: 1em 0;
    }

    /* Reset heights to be dynamic */
    html, body, .main-container, .inside, .content {
        height: inherit;
    }

    .inside {
        margin: 0;
    }

    .main-container {
        padding: 0;
        margin: 10px;
    }

    nav.links-wrapper {
        position: relative;
        bottom: auto;
        width: 100%;
        margin: 0.5em 0;
    }

    h1 {
        margin-top: 1.2em;
    }

    .gallery {
        max-height: 400px;
    }
}
