html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: helvetica, arial, sans;
}

p {
    line-height: 1.2em;
    margin-bottom: 0;
}

.main-container {
    margin: 0;
    padding: 2.8571428571%; /* (20/700) * 100 */
    height: 90%; /* 94.2857  */
}

.inside {
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    margin: -3px 0;
    width: 100%;
    height: 100%;
}

.content {
    margin: 0 auto;
    height: 100%;
}

.description-col, .gallery {
    margin-top: 1em;
    height: 95%;
}

.description-col {
    width: 19.5%; /* (187.2 / 960) * 100 */
    float: left;
    margin-right: 0.625%;
    min-height: 500px;
    text-align: center;
}

.gallery {
    width: 79.875%; /* 766.8px / 960px  - padding * 2 */
    background: url('../images/stripe.png');
    float: left;
    margin: 0;
    min-height: 630px;
    overflow: hidden;
    padding: 0;
    position:relative;
}

.gallery ul.slides {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery li {
    display: none;
    -webkit-backface-visibility: hidden;
    height: 100%;
}

.gallery img {
    max-height: 93%;
    max-width: 93%;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

/* Style non semantic wrapper element */
.slides li div {
    text-align: center;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    width:100%;
}

/* Add horrendous pseudo element to allow vertical alignment */
/* Thanks http://css-tricks.com/centering-in-the-unknown/ ! */
.slides li div:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* Show first gallery item if no javascript */
.no-js .slides > li:first-child {
    display: block;
}

/* Clearfix */
.group:after, .slides:after, .gallery li:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

h1, .client, .type {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;
    width: 100%;

}

.type {
    line-height: 2.3em;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-bottom: 1px;
    margin-top: 0.3em;
}

.main-description {
    margin-top: 1em;
    text-align: left;
}

.links {
    color: #b1b1b1;
    display: inline-block;
    margin: 2em auto 0;
}

.links a {
    color: #b1b1b1;
    text-decoration: none;
    display: inline-block
}

a.home {
    color: #c8c8c8;
}

a.home:hover {
    color: #b1b1b1;
}

h1 {
    margin-top: 0.6em;
}

.page-nav, .home {
    float: left;
    border-bottom: 1px solid #b1b1b1;
    padding-bottom: 5px;
}

.page-nav {
    margin-left: 2em;
}

.nav-btn {
    height: 11px;
    width: 6px;
    text-indent: -9999px;
    outline: none;
}

.page-nav .prev {
    background: url("../images/arrows.png") no-repeat scroll 0 0;
}

.page-nav .next {
    background: url("../images/arrows.png") no-repeat scroll -7px 0;
}


/* Mobiles */
@media all and (max-width: 400px) {

}

/* Tablets */
@media all and (min-width: 400px) and (max-width: 767px) {
    .description-col {
        width: 39.530638853%; /* (303.2px / 767px) * 100 */
        margin-right: 0.7822685789%; /* (6px / 767px) * 100 */
    }

    .gallery {
        width: 59.687092568%; /* 457.8px / 767px - padding * 2 */
    }
}



/* Per Project Styling */

ol.typechairs {
    text-align: left;
    counter-reset:li;
    margin: 1em 0 0 0;
    padding: 0;
}

ol.typechairs li {
    list-style:none; /* Hide numbers in preparation for replacements */
    padding: 0px;
    position:relative;
    margin:0 0 1em 1em;
    padding:4px 8px;
}

ol.typechairs li:before {
    content:counter(li)"/"; /* Replace default ol numbers with ones with a slash */
    counter-increment: li;
    position:absolute;
    top:0;
    left:-1em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:1em;
    margin-right:8px;
    padding:4px;
    text-align:left;
}
