<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">

        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">

        <!-- Home page CSS -->
        <link href="../css/home.css" rel="stylesheet">

        <!-- Modernize this -->
        <script type="text/javascript" src="js/modernizr.custom.20976.js"></script>

    </head>
    <body>
        {{ content }}
        {% include javascripts.html %}
    </body>
</html>