<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">

        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <!-- Home page CSS -->
        <link href="../css/home.css" rel="stylesheet">

        <!-- Modernize this -->
        <script type="text/javascript" src="js/modernizr.custom.20976.js"></script>

    </head>
    <body>
        {{ content }}

        <!-- Grab minified jQuery from official CDN. Fall back to local if necessary -->
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="../js/jquery-1.9.0.min.js"%3E%3C/script%3E'))</script>

        <!-- Gauges -->
        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '50f71989108d7b7fbf000049');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>

        <!-- google analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-12458273-1']);
          _gaq.push(['_setDomainName', 'jobell.net']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>