<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">

        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="../../bootstrap/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

        <!-- Project CSS -->
        <link href="../../css/project.css" rel="stylesheet">

        <!-- Modernize this -->
        <script type="text/javascript" src="../../js/modernizr.custom.20976.js"></script>
    </head>
    <body>
        <div class="main-container">
            <div class="inside">
                <div class="content group">
                    {{ content }}
                </div>
            </div>
        </div>

        {% include javascripts.html %}
        <script src="../../js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#total-pages').text($('.gallery img').length);
                $('.gallery img:first-child').show();

                // Allow multiple text sections which are switched out part way through a gallery
                var sections = $(".description-col section");
                var numSections = sections.length;

                $('.gallery').flexslider({
                    namespace: '',
                    controlNav: false,
                    directionNav: false,
                    pauseOnHover: true,
                    after: function() {

                        // Update current slide number
                        var flexslider = $('.gallery').data('flexslider');
                        $('#current-page').text(flexslider.currentSlide + 1);


                        // Don't do anything further if no text sections
                        if (numSections === 0) {
                            return;
                        }

                        // Get next slide, and the section required for it
                        var flexslider = $('.gallery').data('flexslider');
                        var nextSlide = flexslider.currentSlide;
                        var section = $(flexslider.slides[nextSlide]).data('section');

                        // Check if already displayed?
                        if ($('#'+section).is(':visible')) {
                            // Nothing to do
                            return;
                        }

                        // Hide visible section
                        $('section:visible').hide();

                        // Show correct one
                        $('#'+section).show();
                    }
                });

                $('.page-nav .next').on('click', function(e) {
                    e.preventDefault();
                    $('.gallery').flexslider("next");
                })

                $('.page-nav .prev').on('click', function(e) {
                    e.preventDefault();
                    $('.gallery').flexslider("prev");
                })

            });

        </script>
    </body>
</html>
