<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">

        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="../../bootstrap/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

        <!-- Project CSS -->
        <link href="../../css/project.css" rel="stylesheet">

        <!-- Modernize this -->
        <script type="text/javascript" src="../../js/modernizr.custom.27793.js"></script>

    </head>
    <body>
        <div class="main-container">
            <div class="inside">
                <div class="content group">
                    {{ content }}
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="bootstrap/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
